<form action="/vendedor/login" method="post">
    <!-- Campo para o cliente inserir o login -->
    Login (vendedor): <input type="text" name="login" id="login">
    <br><br>

    <!-- Campo para o cliente inserir a senha (oculta os caracteres digitados) -->
    Senha: <input type="password" name="senha">

    <!-- Botão para enviar os dados do formulário para o servidor -->
    <input type="submit" value="Logar">
</form>